
body {
	color:  #414141;
	font-size: 18px;
	margin: 0;
}

.container {
	width: 90%;
  	max-width: 39rem;
  	margin: 0 auto;
	margin-top: 100px;
  	font-family: 'PT Serif', serif;
}

title {
	color:  #414141;
	font-size: 96px;
	font-family: 'Cinzel 900', serif;
}

h1 {
	font-size: 6rem;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
	color: black;
	margin-bottom: 10px;
}

div p {
	line-height: 1.6;
	font-size: 18px;
	color: #7D7D7D;
}

.lead {
	font-size: 21px;
	color:#7D7D7D;
}

.subtitle {	
	font-size: 36px;
	font-family: PT Serif 400;
	text-align: center;
	margin-top: -160px;
	margin-bottom: -170px;
	padding: 170px;
	color:#7D7D7D;
}

div a {
	color: #CA5E10;
}

